{{#if error}}
  <section class="alert alert-dismissible text-center">
  {{error}}
  </section>
{{/if}}

<section class="row">
  <div style="margin-top: 10em;" class="col-xs-4 col-xs-offset-4">
    <h4>Login to Continue</h4>
		<hr>
    <form method="POST" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="username">
      </div>
      <button type="submit" class="btn btn-success">Sign in</button>
    </form>
  </div>
</section>
